#main-header{
width:100%;
height:200px;
background-color:#193821;
text-align:center
}

#search-bar,.main-nav-bar-items-container{
  display:inline-block;
  font-family:Cormorant Garamond;
  
}

.dropdown-button-1, .dropdown-button-2, .dropdown-button-3, .dropdown-button-4{
height:0px;
width:0px;
border-style:none;
color:white;
background-color:#193821
}

#post-header-body-div-1{background:url('https://www.google.com/local/place/fid/0x8631c56a633aabab:0x3fdea4840f3cde73/photosphere?iu=https://lh5.googleusercontent.com/p/AF1QipO3ohC70_eauyt46E0jpzPIG_d2DU-zGJqDICwC%3Dw160-h106-k-no-pi-0-ya343.2-ro-0-fo100&ik=CAoSLEFGMVFpcE8zb2hDNzBfZWF1eXQ0NkUwanB6UElHX2QyRFUtekdKcURJQ3dD')}


.body-div{height:200px;width:100%}

.main-nav-bar-form-button{    color: white;
    background-color: #193821;
    font-family: Cormorant Garamond;
    font-size: 20px;
    font-weight: bold;
    width:24%;
    border-style: none;}

.dropdown-button{
width: inherit;
    height: 0px;
    color: white;
    background-color: #193821;
    font-family: Cormorant Garamond;
    font-size: 0px;
    font-weight: bold;
    border-style: none;

}

#home-button.main-nav-bar-form-button:hover{
  height:24%;
  font-size:20px;
}


#post-header-body-div-2.span{
  display:inline-block
}

#main-page-heading{
padding:50px;
font-family:Cormorant Garamond;
font-size:40px;
font-weight:bold;
margin:auto;
width:50%;
text-align:center;
}

footer.span{
display:inline-block
  
}

#footer-half-2,#footer-half-1{
width:49%;
background-color:#193821;
color:white;  
}


