#main-nav-bar-top-half{width:100%;height:20%}
.main-nav-bar-dropdown{
transition:visibility 1s;
  
}

footer{background-color:#e6eab7}
#main-header{
width:100%;
height:300px;
background-color:#e6eab7;
text-align:center
}

.product-images-container{
display:inline-block;
font-family:Cormorant Garamond;
width:49%;
height:500px;
transition:"borderStyle 1s"
  
}
.main-nav-bar-dropdown-container{
position:absolute;
  
}

#search-bar,.main-nav-bar-items-container{
  display:inline-block;
  font-family:Cormorant Garamond;
  width:16%
  
}

.home-info-paragraph{
font-family:Cormorant Garamond;
color:#a1ad20;
background-color:#e6eab7
  
}

.dropdown-button-1, .dropdown-button-2, .dropdown-button-3, .dropdown-button-4,.dropdown-button-5,
.dropdown-button-6{
height:0px;
width:0px;
border-style:none;
visibility:hidden;
color:#a1ad20;
background-color:#e6eab7;
font-size:20px
}
.dropdown-button-7,.dropdown-button-8,.dropdown-button-9,.dropdown-button-10{
height:0px;
width:0px;
border-style:none;
visibility:hidden;
color:#a1ad20;
background-color:#e6eab7;
font-size:20px

  
}

#post-header-body-div-1{height:500px;color:white}
.home-info{
font-family: Cormorant Garamond;
color:#a1ad20;
background-color: #e6eab7;
display:inline-block;
width:32.3%;
height:300px;
text-align:center;
transition:color 1s, background-color 1s
}

#post-header-body-div-3{width:100%;
height:500px;}

.body-div{width:100%}

.main-nav-bar-form-button{    color: #a1ad20;
    background-color: #e6eab7;
    font-family: Cormorant Garamond;
    font-size: 20px;
    font-weight: bold;
    width:24%;
    border-style: none;}

.dropdown-button{
width: inherit;
    height: 0px;
    color: #a1ad20;
    background-color: #e6eab7;
    font-family: Cormorant Garamond;
    font-size: 0px;
    font-weight: bold;
    border-style: none;

}

#home-button.main-nav-bar-form-button{
  font-size:20px;
}


#post-header-body-div-2,#post-header-body-div-1{
text-align:center;
font-family:Cormorant Garamond;
}

#main-page-heading{
padding:50px;
font-family:Cormorant Garamond;
font-size:40px;
font-weight:bold;
margin:auto;
visibility:hidden;
width:50%;
background-color:black;
color:white;
text-align:center;
}

#main-page-heading-container{
transition:width 2s;
width:0px;
background-color:black
}

footer.span{
display:inline-block
  
}

#footer-half-2,#footer-half-1{
width:49%;
display:inline-block;
background-color:#e6eab7;
color:#a1ad20;  
}

.social-media-image{
width:50px;
display:inline-block;
height:50px
  
}

.social-media-image-container{
display:inline-block;
float:right;
padding-left:10px;
  
}

.image-slider-image{
z-index:-1;
width:0px;
height:0px;
visibility:hidden;
transistion:"visibility 1s"
  
}

#image-slider{
height:350px;
width:100%;
  

}

.contact-div-info{
font-family:Cormorant Garamond;
background-color:#e6eab7;
color:#a1ad20;
border-radius:25px;
height:300px;
  text-align:center;


  
}

.contact-div-info-image{
display:inline-block;
width:20%;
border-radius:50%
  
}

.right-content{
display:inline-block;
height:100%;
width:80%;
background-color:#e6eab7;
text-align:center;  
}

#1-body-div{
width:21%;
height:100%;
display:inline-block
  
}

#messaging-feature{
margin:auto;
width:49%;
text-align:center;
}

#sender,#message{
height:100px;
width:200px

}

#message-button{
background-color: #e6eab7;
border-style:none;
  color:#a1ad20;
  height:40px;
  width:100px;
    display:block;

  
}

#messaging-feature{
margin:auto;
width:100%;
text-align:center;
  display:block;
}

#sender,#message{
height:100px;
width:100%;
  display:block;
  margin:auto;


}

